@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

<h2>會員帳戶管理</h2>

<table class="table">
    <thead>
        <tr>
            <th>使用者名稱</th>
            <th>電子郵件</th>
            <th>手機號碼</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <a asp-action="EditUser" asp-route-userId="@user.Id" class="btn btn-secondary">編輯</a>
                    <form asp-action="DeleteUser" asp-route-userId="@user.Id" method="post" style="display:inline; ">
                        <button type="submit" class="btn btn-danger">刪除</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

